<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD APP</title>
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <ul>
      <li><a href="/login"> Login </a></li>
      <li><a href="/signup"> Signup </a></li>
    </ul>
  </body>
</html>
